<div class="card">
  <button type="button" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <img class="img-fluid" src="https://via.placeholder.com/160" alt="placeholder image" />
      </div>
      <div class="col">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit quia corrupti voluptate magnam molestias,
          inventore obcaecati id enim amet neque optio odit atque sint totam quos quae voluptatibus dolores ex!
        </p>
        <p class="card-text"><small class="text-muted">Created 3 mins ago | 3662 Comments</small></p>
      </div>
    </div>
  </div>
</div>
