.card {
  position: relative;
  &.readed {
    background: #e9e9e9;
  }
}

button.close {
  &:focus {
    outline: none;
  }
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  z-index: 1;
}

@keyframes remove {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    transform: translate3d(-120%, 0, 0);
  }
  100% {
    height: 0;
    padding: 0;
  }
}
