<div class="container-fluid h-100">
  <div class="row no-gutters h-100">
    <aside class="col-4 col-lg-5">
      <ng-container *ngIf="posts.length; else noPosts">
        <div [@listAnim]="animState">
          <app-card
            *ngFor="let post of posts; let i = index"
            [dataSource]="post.data"
            (viewEvent)="seeDetails($event)"
            (removeEvent)="removeCard(i)"
          ></app-card>
        </div>
        <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="removeAll()">
          Remove All
        </button>
      </ng-container>

      <ng-template #noPosts>
        <div class="row align-items-center h-100">
          <div class="col">
            <p class="text-muted mt-4 text-center">There are no posts.</p>
          </div>
        </div>
      </ng-template>
    </aside>
    <section class="col">
      <app-detail [dataSource]="details"></app-detail>
    </section>
  </div>
</div>
